# Ignore virtual environment directory
.venv/

# Ignore data directory
data/

# Ignore common data and notebook checkpoint files
*.csv
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
